footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 188px;
    flex-shrink: 0;
    background: #010013;
}
#icon-container{
    position: absolute;
    display: inline-flex;
    align-items: flex-end;
    gap: 20px;
    top: 34px;
    bottom: 123px;
    left: 75px;
}
#details{
    position: absolute;
    bottom: 50px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
#coc{
    position: absolute;
    color: var(--text-color);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0% auto 7% -45%;
}
#email{
    position: absolute;
    color: var(--text-color);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 2% auto 7% -45%;
}
#ccgmail{
    position: absolute;
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 2% auto 7% -39%;
}
#back{
    display: flex;
    justify-content: space-between;
}
#back img{
    margin: 222% 13% 244% -57%;
}
#back-to-top{
    margin: 3% 16% 20% -4%;
    position: absolute;
    color: var(--text-color);
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word
}
.codchoicefooter{
    display: flex;
    gap: 15px;
}
.codchoicefooter img{
    position: absolute;
    margin: -4% 12% 21% 19%;
}
#cod{
    position: absolute;
    margin: -4% 15% 22% 23%;
    color: var(--primary-color);
    font-size: 25px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}
#choice{
    position: absolute;
    margin: -4% 15% 22% 30%;
    color: var(--text-color);
    font-size: 25px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word
}
form{
    display: inline-block;
    align-items: center;
    justify-content: space-evenly;
}
#sub-button{
    position: absolute;
    border: none;
    margin: 0% 16% 22% 17%;
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    height: 29px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--primary-color);
}
input{
    position: absolute;
    margin: 0% 16% 22% 23%;
    width: 206px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px none var(--primary-color);
    background: var(--text-color);
}