footer{
    position: relative;
    display: flex;
    justify-content: center;
    height: 188px;
    flex-shrink: 0;
    background: #010013;
}
#icon-container{
    position: absolute;
    display: inline-flex;
    align-items: flex-end;
    gap: 20px;
    top: 34px;
    bottom: 123px;
    left: 75px;
}
#details{
    position: absolute;
    bottom: 50px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
#coc{
    position: absolute;
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 5% 36% 10% -46%;
}
#email{
    position: absolute;
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 7% 36% 10% -46%;
}
#ccgmail{
    position: absolute;
    color: #5271FF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 7% 36% 10% -40%;
}
#back{
    display: flex;
    justify-content: space-between;
}

.fa-chevrons-up{
    font-size: 30px;
    text-transform: none;
    color: var(--text-color);
    transition: var(--transition);
}
.fa-chevrons-up:hover{
    color: var(--primary-color);
}

#back-to-top{
    margin: 8% -80% 10% -6%;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word
}
.codchoicefooter{
    display: flex;
    gap: 15px;
}
.codchoicefooter img{
    position: absolute;
    height: 35px;
    margin: 1% -80% 10% 20%;
}
#cod{
    position: absolute;
    margin: 1% -80% 10% 23%;
    color: #5271FF;
    font-size: 25px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}
#choice{
    position: absolute;
    margin: 1% -80% 10% 30%;
    color: white;
    font-size: 25px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word
}
#sub-button{
    position: absolute;
    margin: 4% -80% 10% -40%;
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    height: 29px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5271FF;
}
input{
    position: absolute;
    margin: 4% -80% 10% -19%;
    width: 206px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #5271FF;
    background: #D9D9D9;
}

.fa-github{
    font-size: 30px;
    text-transform: none;
    color: var(--text-color);
    transition: var(--transition);
}
.fa-github:hover{
    color: var(--primary-color);
}

.fa-instagram{
    font-size: 30px;
    text-transform: none;
    color: var(--text-color);
    transition: var(--transition);
}
.fa-instagram:hover{
    color: var(--primary-color);
}

.fa-x-twitter{
    font-size: 30px;
    text-transform: none;
    color: var(--text-color);
    transition: var(--transition);
}
.fa-x-twitter:hover{
    color: var(--primary-color);
}

.fa-facebook{
    font-size: 30px;
    text-transform: none;
    color: var(--text-color);
    transition: var(--transition);
}
.fa-facebook:hover{
    color: var(--primary-color);
}

.fa-linkedin-in{
    font-size: 30px;
    text-transform: none;
    color: var(--text-color);
    transition: var(--transition);
}
.fa-linkedin-30:hover{
    color: var(--primary-color);
}